body {
    margin: 0;
    background: #272727;
    color: white;
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
}

#glava {
    background: #004477;
    text-align: center;
    padding: 10px;
}

#telo {}

#klavir {
    padding-bottom: 2px;
}

#kutija {
    padding: 10px; 
    padding-bottom: 0;
    background: linear-gradient(to bottom, #323232 0%, #171717 100%);
}

#klavijatura {
    width: 100%;
    display: block;
    cursor: default;
}

#tabla {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.svojstvo {
    display: inline-block;
    text-align: center;
    width: 15%;
}

@media(max-width: 480px){
    #tabla {
        
    }
    .svojstvo {
        flex: 0 0 33%;
        max-width: 33%;
        width: 100%;
    }
}

.ime-svojstva {
    text-align: center;
    font-size: 15px;
}

.strelica {
    display: inline-block;
    width: 17px;
}

.strelica svg {
    width: 15px;
    fill: white;
}

.strelica:hover svg {
    fill: #007744;
}

.j-0 {
    opacity: 0.2;
}

.smanji {
    transform: scaleX(-1);
}

.zaglavlje {
    width: 30px;
    height: 30px;
    background: url(../images/svg/zvucnik.svg) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top: 27px;
    right: 17px;
}

.rekord {
    right: auto;
    left: 17px;
    background: none;
}

.rekord .krug {
    width: 100%;
    height: 100%;
    background: #dd3300;
    border-radius: 50%;
}

.rekord .kvadrat {
    display: none;
}

@keyframes blinkaj {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.1);
    }
}

.snima-true .krug {
    border: 2px solid white;
    animation: blinkaj 0.5s ease-in-out infinite alternate;
}

.snima-true .kvadrat {
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    background: white;
}

.cifra {
    display: inline-block;
    width: 30px;
    font-size: 22px;
    text-align: center;
    position: relative;
    bottom: 7px;
    color: white;
}

.dirka {
    fill: #e8e8e8;
    stroke: #272727;
}

.crna {
    fill: #272727;
}

.dirka:hover {
    fill: white;
}

.crna:hover {
    fill: black;
}

.autput {
    display: none;
}

.autput.jeste {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.stavka {
    width: 220px;
}

.label {
    font-size: 15px;
    color: #a4a4a4;
}

.notacije {

}

.notacija {
    margin-right: 10px;   
    cursor: pointer;
}

.notacija:hover, .notacija-true {
    color: white;
}

.pesme {
    padding: 10px;
}

.pesma {
    margin: 0 10px 10px 0;
    background: rgba(255,255,255,0.1);
    display: inline-block;
    position: relative;
    min-width: 100px;
    /* border: 1px solid rgba(255,255,255,0.2); */
}

.pesma .blok {
    padding: 10px;
}

.pesma .ime-pesme {
    background: rgba(255,255,255,0.1);
    font-size: 12px;
    line-height: 12px;
}

.pesma .note {

}

.pesma .overlej {
    /* display: none; */
    opacity: 0;
}

.pesma:hover .overlej {
    /* display: block; */
    opacity: 1;
    transition: opacity 0.1s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.pesma .sviraj {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: url(../images/svg/sviraj.svg) no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}

.pesma .makni {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(../images/svg/makni.svg) no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}

.pesma.svira-true {
    background: #007744;
}

@keyframes sviraj {
    from {
        left: 0%;
    }    
    to {
        left: calc(100% - 5px);
    }
}

.pesma .gde {
    display: none;
}
.pesma.svira-true .gde {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #004477;
    animation-name: sviraj;
    animation-timing-function: linear;
}