body {
    margin: 0;
    background: #242424;
    color: white;
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
}

#glava {
    background: #004477;
    text-align: center;
    padding: 10px;
}

#telo {}

#klavir {
    padding: 10px;
    padding-bottom: 2px;
}

#klavijatura {
    width: 100%;
    display: block;
    cursor: default;
}

#tabla {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #272727 0%, #323232 100%);
}

.svojstvo {
    display: inline-block;
    text-align: center;
    width: 15%;
}

@media(max-width: 480px){
    #tabla {
        flex-direction: column;
    }
    .svojstvo {
        display: block;
        width: 100%;
    }
}

.ime-svojstva {
    text-align: center;
    font-size: 15px;
}

.strelica {
    display: inline-block;
    width: 17px;
}

.strelica svg {
    width: 15px;
    fill: white;
}

.strelica:hover svg {
    fill: #007744;
}

.j-0 {
    opacity: 0.2;
}

.smanji {
    transform: scaleX(-1);
}

.mir {
    width: 30px;
    height: 30px;
    background: url(../images/svg/zvucnik.svg) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top: 27px;
    right: 17px;
}

.cifra {
    display: inline-block;
    width: 30px;
    font-size: 22px;
    text-align: center;
    position: relative;
    bottom: 7px;
    color: white;
}

.dirka {
    fill: #e8e8e8;
    stroke: #272727;
}

.crna {
    fill: #272727;
}

.dirka:hover {
    fill: white;
}

.crna:hover {
    fill: black;
}

.autput {
    display: none;
}

.autput.jeste {
    display: flex;
    justify-content: space-around;
}

.stavka {
    width: 220px;
}

.label {
    font-size: 15px;
    color: #a4a4a4;
}

.notacije {

}

.notacija {
    margin-right: 10px;   
    cursor: pointer;
}

.notacija-true {
    color: white;
    text-decoration: underline;
}
